<div class="panel panel-default" id="info_panel">
	<div class="panel-heading">
		<div class="panel-title row">
			<a data-toggle="collapse" data-parent=".panel-group" href="#enroll4">
				<div class="col-md-4">
					<i class="status fa fa-lg fa-times-circle-o"></i>
					4. enter information
				</div>
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4">
					
				</div>
			</a>
		</div>
	</div>
	<div class="panel-body panel-collapse collapse " id="enroll4">
		<form class="form-horizontal">
			<section>
				<h2>my login</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">email:</label>
							<div class="col-md-8">
							<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
				
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">confirm email:</label>
							<div class="col-md-8">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">password:</label>
							<div class="col-md-8">
								<input type="password" class="form-control text" />
							</div>
						</div>
					</div>
				
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">confirm password:</label>
							<div class="col-md-8">
								<input type="password" class="form-control text" />
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section>
				<h2>my information</h2>
			
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">first name:</label>
							<div class="col-md-8">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">last name:</label>
							<div class="col-md-8">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="col-md-2">birthday:</label>
							<div class="col-md-10">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">daytime phone:</label>
							<div class="col-md-8">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">night time phone:</label>
							<div class="col-md-8">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section>
				<h2>my shipping</h2>
			
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="col-md-2">address 1:</label>
							<div class="col-md-10">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="col-md-2">address 2:</label>
							<div class="col-md-10">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">city:</label>
							<div class="col-md-8">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">country:</label>
							<div class="col-md-8">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">state/province:</label>
							<div class="col-md-8">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">zip:</label>
							<div class="col-md-8">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section>
				<h2>my billing</h2>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="col-md-2">name on card:</label>
							<div class="col-md-10">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="col-md-2">card number:</label>
							<div class="col-md-10">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">security code:</label>
							<div class="col-md-8">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4">expiration date:</label>
							<div class="col-md-8">
								<input type="text" class="form-control text" />
							</div>
						</div>
					</div>
				</div>
			</section>
		</form>
		<div class="text-center continue hide">
			<%= link_to "Continue", "#enroll5", "data-toggle" => "collapse", "data-parent" => ".panel-group", onclick: 'panel_complete("#info_panel");', class: "btn btn-primary btn-lg" %>
		</div>
	</div>
</div>